@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@700&family=Dela+Gothic+One&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Riot&family=Rubik+Glitch&family=Rubik+Maps&family=Titan+One&display=swap');

body {
  
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}